{
  "name": "InxyADS",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "dev/jade/main.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/main.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "dev/sass/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/css/main.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "dev/scripts/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"docs/js/app.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "dev/scripts/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"docs/js/main.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "dev/sass/app.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/css/app.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "dev/jade/dashboard.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "dev/scripts/layouts/dashboard.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"docs/js/layouts/dashboard.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "dev",
      "dev/jade/includes",
      "dev/sass/font_awesome",
      "dev/jade",
      "dev/scripts/layouts"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": true
  },
  "imports": [
    {
      "path": "dev/jade/dashboard.pug",
      "imports": [
        "dev/jade/includes/variables.pug",
        "dev/jade/includes/head.pug",
        "dev/jade/includes/navbar.pug",
        "dev/jade/includes/footer.pug",
        "dev/jade/includes/scripts.pug"
      ]
    },
    {
      "path": "dev/sass/app.scss",
      "imports": [
        "dev/sass/app_includes/mixins.scss",
        "dev/sass/app_includes/variables.scss",
        "dev/sass/app_includes/normalize.scss",
        "dev/sass/app_includes/scaffolding.scss",
        "dev/sass/app_includes/grid.scss",
        "dev/sass/app_includes/typography.scss",
        "dev/sass/app_includes/colors.scss",
        "dev/sass/font_awesome/font-awesome.scss",
        "dev/sass/app_includes/preloader.scss",
        "dev/sass/app_includes/navs.scss",
        "dev/sass/app_includes/navbar.scss",
        "dev/sass/app_includes/dropdowns.scss",
        "dev/sass/app_includes/re_tabs.scss",
        "dev/sass/app_includes/breadcrumbs.scss",
        "dev/sass/app_includes/panels.scss",
        "dev/sass/app_includes/daterangepicker.scss",
        "dev/sass/app_includes/responsive-tables.scss",
        "dev/sass/app_includes/switches.scss",
        "dev/sass/app_includes/tooltips.scss",
        "dev/sass/app_includes/labels.scss",
        "dev/sass/layouts/dashboard.scss",
        "dev/sass/app_includes/mixins/colors.scss",
        "dev/sass/app_includes/mixins/gradients.scss",
        "dev/sass/font_awesome/_variables.scss",
        "dev/sass/font_awesome/_mixins.scss",
        "dev/sass/font_awesome/_path.scss",
        "dev/sass/font_awesome/_core.scss",
        "dev/sass/font_awesome/_larger.scss",
        "dev/sass/font_awesome/_fixed-width.scss",
        "dev/sass/font_awesome/_list.scss",
        "dev/sass/font_awesome/_bordered-pulled.scss",
        "dev/sass/font_awesome/_animated.scss",
        "dev/sass/font_awesome/_rotated-flipped.scss",
        "dev/sass/font_awesome/_stacked.scss",
        "dev/sass/font_awesome/_icons.scss",
        "dev/sass/font_awesome/_screen-reader.scss"
      ]
    },
    {
      "path": "dev/scripts/main.js",
      "imports": [
        "dev/scripts/components/sprite.js",
        "dev/scripts/components/preloader.js",
        "dev/scripts/components/navbar.js",
        "dev/scripts/components/dropdown.js",
        "dev/scripts/components/collapse.js",
        "dev/scripts/components/tab.js",
        "dev/scripts/components/re_tabs.js",
        "dev/scripts/components/responsive-table.js"
      ]
    },
    {
      "path": "dev/sass/app_includes/mixins.scss",
      "imports": [
        "dev/sass/app_includes/mixins/colors.scss",
        "dev/sass/app_includes/mixins/gradients.scss"
      ]
    },
    {
      "path": "dev/sass/font_awesome/font-awesome.scss",
      "imports": [
        "dev/sass/font_awesome/_variables.scss",
        "dev/sass/font_awesome/_mixins.scss",
        "dev/sass/font_awesome/_path.scss",
        "dev/sass/font_awesome/_core.scss",
        "dev/sass/font_awesome/_larger.scss",
        "dev/sass/font_awesome/_fixed-width.scss",
        "dev/sass/font_awesome/_list.scss",
        "dev/sass/font_awesome/_bordered-pulled.scss",
        "dev/sass/font_awesome/_animated.scss",
        "dev/sass/font_awesome/_rotated-flipped.scss",
        "dev/sass/font_awesome/_stacked.scss",
        "dev/sass/font_awesome/_icons.scss",
        "dev/sass/font_awesome/_screen-reader.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7883,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-node-sass\":{\"outputStyle\":\"compact\"},\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"outputSuffix\":\".min\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}