include includes/variables
doctype html
html(lang="en")
  include includes/head
  body.loading
    .inxy-preloader
      .inxy-preloader__circle
    include includes/navbar
    .inxy-page.layout-dashboard
      section.content-header
        h1 Dashboard 
          small Control panel
        ul.breadcrumb
          li: a(href="")
            i.fa.fa-home 
            | Home 
          li: span Dashboard
          
      .container
        h2.filters-header Статистика 
          small за всё время
          .dropdown
            svg.dropdown-mobile(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"): use(xlink:href="#menu_icon")
            ul.dropdown-menu(aria-labelledby='dLabel')
              li.active: a(href="#", title="Всё время") Всё время
              li: a(href="#", title="Сегодня") Сегодня
              li: a(href="#", title="Вчера") Вчера
              li: a(href="#", title="Сегодня") Сегодня
              li: a(href="#", title="Неделя") Неделя
              li: a(href="#", title="Месяц") Месяц
              li: a(href="#", title="Квартал") Квартал
              li: a(href="#", title="Год") Год
        .filters
          ul.filters-nav
            li.active: a(href="#", title="Всё время") Всё время
            li: a(href="#", title="Сегодня") Сегодня
            li: a(href="#", title="Вчера") Вчера
            li: a(href="#", title="Сегодня") Сегодня
            li: a(href="#", title="Неделя") Неделя
            li: a(href="#", title="Месяц") Месяц
            li: a(href="#", title="Квартал") Квартал
            li: a(href="#", title="Год") Год
            li
              form.filters-custom(action="")
                input(type="text" id="daterange")
                i.fa.fa-calendar
          
          .row.stretch
            .col.md-5
              .panel
                .panel-heading
                  h3 показов: 
                    span 345 332 
                    small.success +12 032
                .panel-body
                  #chartdiv1(style="width: 100%; height: 200px; background-color: #FFFFFF;")
            .col.md-4.lg-5
              .panel
                .panel-heading
                  h3 переходов: 
                    span 345 332 
                    small.danger -12 032
                .panel-body
                  #chartdiv2(style="width: 100%; height: 200px; background-color: #FFFFFF;")
            .col.md-3.lg-2
              .stats-panel
                .panel-heading
                  h3 статистика
                .stats
                  .stats-body
                    .stats-title CTR
                    .stats-count  0,012%
                    .stats-perc.success +2,93 %
                  .stats-graph <span class="bar success">4,3,6,4,5,4,7,3,5,7,3,5,2</span>
                .stats
                  .stats-body
                    .stats-title Потрачено
                    .stats-count 122,5 $
                    .stats-perc.danger -8,67 %
                  .stats-graph <span class="bar danger">-4,-3,-6,-4,-5,-4,-7,-3,-5,-7,-3,-5,-2</span>

        .responsive-vertical: table.material-table.hover.bordered.striped.companies-table
          thead
            tr
              th Статус
              th Кампания  
                span.tooltip-bottom(data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos perspiciatis, quae unde porro illo!"): i.fa.fa-info-circle
              th Формат  
                span.tooltip-bottom(data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos perspiciatis, quae unde porro illo!"): i.fa.fa-info-circle
              th Ставка  
                span.tooltip-bottom(data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos perspiciatis, quae unde porro illo!"): i.fa.fa-info-circle
              th Потрачено  
                span.tooltip-bottom(data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos perspiciatis, quae unde porro illo!"): i.fa.fa-info-circle
              th CTR  
                span.tooltip-bottom(data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos perspiciatis, quae unde porro illo!"): i.fa.fa-info-circle
              th Показы  
                span.tooltip-bottom(data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos perspiciatis, quae unde porro illo!"): i.fa.fa-info-circle
              th Клики  
                span.tooltip-bottom(data-tooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos perspiciatis, quae unde porro illo!"): i.fa.fa-info-circle
              th Редактировать 
          tbody
            - for (var x = 1; x < 5; x++)
              tr
                td(data-title='Статус')
                  .switch
                    input.switch__ctrl(checked type='checkbox' id='company__' + x)
                    label.switch__lbl(for='company__' + x)
                td(data-title='Кампания')
                  span.company__title CandyCrash на флеше
                    small http://inxyads.com/advertiser/statistics
                td(data-title='Формат')
                  span.company__format Branding
                    small мобильные
                td(data-title='Ставка')
                  span.company__rate 1,5 $ 
                    small CPA
                td(data-title='Потрачено')
                  span.company__spent 5,25 $
                td(data-title='CTR')
                  span.company__ctr= (12 * x / 1000) + '%'
                td(data-title='Показы')
                  span.company__impressions= 34555 * x
                td(data-title='Клики')
                  span.company__clicks= 417 + x
                td(data-title=' ')
                  a(href="#", title="edit").company__edit: svg: use(xlink:href="#edit_icon")
            - for (var x = 6; x < 10; x++)
              tr
                td(data-title='Статус')
                  .switch
                    input.switch__ctrl(type='checkbox' id='company__' + x)
                    label.switch__lbl(for='company__' + x)
                td(data-title='Кампания')
                  span.company__title CandyCrash на флеше
                    small http://inxyads.com/advertiser/statistics
                td(data-title='Формат')
                  span.company__format PopUnder
                    small компьютеры
                td(data-title='Ставка')
                  span.company__rate 1,5 $ 
                    small CPA
                td(data-title='Потрачено')
                  span.company__spent 5,25 $
                td(data-title='CTR')
                  span.company__ctr —
                td(data-title='Показы')
                  span.company__impressions= 34555 * x
                td(data-title='Клики')
                  span.company__clicks —
                td(data-title=' ')
                  a(href="#", title="edit").company__edit: svg: use(xlink:href="#edit_icon")
            - for (var x = 11; x < 15; x++)
              tr
                td(data-title='Статус')
                  .switch
                    input.switch__ctrl( disabled type='checkbox' id='company__' + x)
                    label.switch__lbl(for='company__' + x)
                td(data-title='Кампания')
                  span.company__title CandyCrash на флеше
                    small http://inxyads.com/advertiser/statistics
                td(data-title='Формат')
                  span.company__format Branding
                    small мобильные
                td(data-title='Ставка')
                  span.company__rate 1,5 $ 
                    small CPA
                td(data-title='Потрачено')
                  span.company__spent 5,25 $
                td(data-title='CTR')
                  span.company__ctr= (12 * x / 1000) + '%'
                td(data-title='Показы')
                  span.company__impressions= 34555 * x
                td(data-title='Клики')
                  span.company__clicks= 417 + x
                td(data-title=' ')
                  a(href="#", title="edit").company__edit: svg: use(xlink:href="#edit_icon")

      //
        h1 Heading Level 1
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h2 Heading Level 2
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h3 Heading Level 3
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h4 Heading Level 4
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h5 Heading Level 5
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h6 Heading Level 6
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        hr
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus.
        hr
        .dropdown
          button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-primary.btn-xs Dropdown trigger 
            span.caret
          ul.dropdown-menu(aria-labelledby='dLabel')
            li ...
            li ...
            li ...
            li ...
            li ...
            li ...
            li ...
        ul
          li Unordered List Item
          li Unordered List Item
          li Unordered List Item
          li Unordered List Item
        ul.circle
          li Unordered Circle List Item
          li Unordered Circle List Item
          li Unordered Circle List Item
          li Unordered Circle List Item
        ul.square
          li Unordered Square List Item
          li Unordered Square List Item
          li Unordered Square List Item
          li Unordered Square List Item
        ol
          li Ordered List Item
          li Ordered List Item
          li Ordered List Item
          li Ordered List Item
        p <mark>Donec sed odio dui.</mark> Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h1 Heading Level 1
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h2 Heading Level 2
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h3 Heading Level 3
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h4 Heading Level 4
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h5 Heading Level 5
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h6 Heading Level 6
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        hr
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus.
        hr
        .dropdown
          button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-primary.btn-xs Dropdown trigger 
            span.caret
          ul.dropdown-menu(aria-labelledby='dLabel')
            li ...
            li ...
            li ...
            li ...
            li ...
            li ...
            li ...
        ul
          li Unordered List Item
          li Unordered List Item
          li Unordered List Item
          li Unordered List Item
        ul.circle
          li Unordered Circle List Item
          li Unordered Circle List Item
          li Unordered Circle List Item
          li Unordered Circle List Item
        ul.square
          li Unordered Square List Item
          li Unordered Square List Item
          li Unordered Square List Item
          li Unordered Square List Item
        ol
          li Ordered List Item
          li Ordered List Item
          li Ordered List Item
          li Ordered List Item
        p <mark>Donec sed odio dui.</mark> Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h1 Heading Level 1
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h2 Heading Level 2
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h3 Heading Level 3
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h4 Heading Level 4
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h5 Heading Level 5
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h6 Heading Level 6
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        hr
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus.
        hr
        .dropdown
          button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-primary.btn-xs Dropdown trigger 
            span.caret
          ul.dropdown-menu(aria-labelledby='dLabel')
            li ...
            li ...
            li ...
            li ...
            li ...
            li ...
            li ...
        ul
          li Unordered List Item
          li Unordered List Item
          li Unordered List Item
          li Unordered List Item
        ul.circle
          li Unordered Circle List Item
          li Unordered Circle List Item
          li Unordered Circle List Item
          li Unordered Circle List Item
        ul.square
          li Unordered Square List Item
          li Unordered Square List Item
          li Unordered Square List Item
          li Unordered Square List Item
        ol
          li Ordered List Item
          li Ordered List Item
          li Ordered List Item
          li Ordered List Item
        p <mark>Donec sed odio dui.</mark> Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h1 Heading Level 1
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h2 Heading Level 2
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h3 Heading Level 3
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h4 Heading Level 4
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h5 Heading Level 5
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h6 Heading Level 6
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        hr
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus.
        hr
        .dropdown
          button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-primary.btn-xs Dropdown trigger 
            span.caret
          ul.dropdown-menu(aria-labelledby='dLabel')
            li ...
            li ...
            li ...
            li ...
            li ...
            li ...
            li ...
        ul
          li Unordered List Item
          li Unordered List Item
          li Unordered List Item
          li Unordered List Item
        ul.circle
          li Unordered Circle List Item
          li Unordered Circle List Item
          li Unordered Circle List Item
          li Unordered Circle List Item
        ul.square
          li Unordered Square List Item
          li Unordered Square List Item
          li Unordered Square List Item
          li Unordered Square List Item
        ol
          li Ordered List Item
          li Ordered List Item
          li Ordered List Item
          li Ordered List Item
        p <mark>Donec sed odio dui.</mark> Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h1 Heading Level 1
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h2 Heading Level 2
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h3 Heading Level 3
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h4 Heading Level 4
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h5 Heading Level 5
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        h6 Heading Level 6
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        hr
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus.
        hr
        .dropdown
          button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-primary.btn-xs Dropdown trigger 
            span.caret
          ul.dropdown-menu(aria-labelledby='dLabel')
            li ...
            li ...
            li ...
            li ...
            li ...
            li ...
            li ...
        ul
          li Unordered List Item
          li Unordered List Item
          li Unordered List Item
          li Unordered List Item
        ul.circle
          li Unordered Circle List Item
          li Unordered Circle List Item
          li Unordered Circle List Item
          li Unordered Circle List Item
        ul.square
          li Unordered Square List Item
          li Unordered Square List Item
          li Unordered Square List Item
          li Unordered Square List Item
        ol
          li Ordered List Item
          li Ordered List Item
          li Ordered List Item
          li Ordered List Item
        p <mark>Donec sed odio dui.</mark> Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        p Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    include includes/footer
    include includes/scripts
    // Page Plugins
    script(src="js/plugins/amcharts/amcharts.js")
    script(src="js/plugins/amcharts/serial.js")
    script(src="js/plugins/amcharts/themes/light.js")
    script(src="js/plugins/peity/jquery.peity.min.js")
    script(src="js/plugins/peity/jquery.peity.min.js")
    script(src="js/plugins/datepicker/moment.min.js")
    script(src="js/plugins/datepicker/daterangepicker.js")
    script(src="js/layouts/dashboard.min.js")